#  Local .terraform directories
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform variables
*.auto.tfvars

# .vscode files
*.vscode

# SA files
/functions/firebase_and_datastore/sa.json
credential.json

# env files
*.env

# Others
/infra/gcloud_deploy/clouddeploy.yaml